<body class="containerContainer">
  <!-- buyer UI -->
  <div *ngIf="isBuyer" class="container">
    <mat-accordion [multi]="false">
      <div class="cardContainer" *ngFor="let purchase of purchases">
        <mat-expansion-panel hideToggle (opened)="viewTotalsToPayPerCart(purchase.totalToPayPerAuthor.id)" class="purchaseCardAsBuyer">
          <mat-expansion-panel-header class="panelHeader">
            <div style="display:inline;text-align:center;width:20rem;">
              <p class="purchaseInfo"><b>Fecha de operación:</b> {{purchase.creationDate | dateFormat}}</p>
              <p class="purchaseInfo"><b>Abonado:</b> {{purchase.totalToPayPerAuthor.totalToPay | numberFormat }}</p>
              <div style="display:flex;">
                <button class="viewDetailsButton">Vista rápida</button>
                <button class="viewDetailsButton" (click)="sendToPurchase(purchase)">Ir a la compra</button>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div *ngFor="let total of totalsToPayPerCart">
            <hr class="line">
            <div>
              <p class="purchaseSubinfo" *ngIf="total.cart.isLeasing">Compra de {{total.cart.post.title}} <b>{{total.itemCartTotalToPay | numberFormat }}</b></p>
              <p class="purchaseSubinfo" *ngIf="!total.cart.isLeasing">Alquiler de {{total.cart.post.title}} <b>{{total.itemCartTotalToPay | numberFormat }}</b></p>

              <p class="rentalNormal"    *ngIf="total.cart.remainingDays > 7  && !total.cart.isLeasing">Tenés {{total.cart.remainingDays}} días para devolver tu producto</p>
              <p class="rentalMedium"    *ngIf="total.cart.remainingDays <= 7 && total.cart.remainingDays > 1 && !total.cart.isLeasing">Tenés {{total.cart.remainingDays}} días para devolver tu producto</p>
              <p class="rentalSoon"      *ngIf="total.cart.remainingDays <= 1 && total.cart.remainingDays > 0 && !total.cart.isLeasing">Tenés 1 día para devolver tu producto</p>
              <p class="rentalFinished"  *ngIf="total.cart.remainingDays <= 0 && !total.cart.isLeasing && !total.cart.userAlreadyRatedPost"><b>¡Tu alquiler finalizó el día {{total.cart.dateTo | dateFormat}}!</b></p>
              <p class="rentalFinished"  *ngIf="total.cart.remainingDays <= 0 && !total.cart.isLeasing && total.cart.userAlreadyRatedPost"><b>¡Tu alquiler finalizó el día {{total.cart.dateTo | dateFormat}} y ya dejaste tu calificación sobre esta publicación!</b></p>
              <p class="rentalFinished"  *ngIf="total.cart.isLeasing && total.cart.userAlreadyRatedPost"><b>¡Ya dejaste tu calificación sobre esta publicación!</b></p>

              <button class="rateButton" *ngIf="!total.cart.userAlreadyRatedPost && ((total.cart.remainingDays <= 0 && !total.cart.isLeasing) || total.cart.isLeasing)" (click)="createPostRating(total.cart)">Calificar publicación</button>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div *ngIf="showEmptyMessage" style="margin:1rem;">
      <p class="message">¡No realizaste ninguna compra ni ningún alquiler!</p>
      <button class="searchToolsButton" routerLink="/posts">BUSCAR HERRAMIENTAS</button>
    </div>
  </div>
  <!-- seller UI -->
  <div *ngIf="!isBuyer" class="container">
    <mat-accordion [multi]="false">
      <div class="cardContainer" *ngFor="let purchase of purchases">
        <mat-expansion-panel hideToggle (opened)="viewTotalsToPayPerCart(purchase.totalToPayPerAuthor.id)" class="purchaseCardAsSeller">
          <mat-expansion-panel-header class="panelHeader">
            <div style="display:inline;text-align:center;width:20rem;">
              <p class="purchaseInfo"><b>Fecha de operación:</b> {{purchase.creationDate | dateFormat}}</p>
              <p class="purchaseInfo"><b>Abonado:</b> {{purchase.totalToPayPerAuthor.totalToPay | numberFormat }}</p>
              <div style="display:flex;">
                <button class="viewDetailsButton">Vista rápida</button>
                <button class="viewDetailsButton" (click)="sendToPurchase(purchase)">Ir a la venta</button>
              </div>
            </div>
          </mat-expansion-panel-header>
          <div *ngFor="let total of totalsToPayPerCart">
            <hr class="line">
            <div>
              <p class="purchaseSubinfo" *ngIf="total.cart.isLeasing">Compra de {{total.cart.post.title}} <b>{{total.itemCartTotalToPay | numberFormat }}</b></p>
              <p class="purchaseSubinfo" *ngIf="!total.cart.isLeasing">Alquiler de {{total.cart.post.title}} <b>{{total.itemCartTotalToPay | numberFormat }}</b></p>

              <p class="rentalNormal"    *ngIf="total.cart.remainingDays > 7  && !total.cart.isLeasing">Todavía quedan {{total.cart.remainingDays}} días para que el comprador devuelva tu producto</p>
              <p class="rentalMedium"    *ngIf="total.cart.remainingDays <= 7 && total.cart.remainingDays > 1 && !total.cart.isLeasing">Todavía quedan {{total.cart.remainingDays}} días para que el comprador devuelva tu producto</p>
              <p class="rentalSoon"      *ngIf="total.cart.remainingDays <= 1 && total.cart.remainingDays > 0 && !total.cart.isLeasing">Todavía queda 1 día para que el comprador devuelva tu producto</p>
              <p class="rentalFinished"  *ngIf="total.cart.remainingDays <= 0 && !total.cart.isLeasing && !total.cart.returnedFlag"><b>El alquiler finalizó el día {{total.cart.dateTo | dateFormat}}. Por favor, indicá si el producto ya fue devuelto.</b></p>
              <p class="rentalFinished"  *ngIf="total.cart.remainingDays <= 0 && !total.cart.isLeasing && total.cart.returnedFlag"><b>El alquiler finalizó el día {{total.cart.dateTo | dateFormat}} y ya indicaste que el producto fue devuelto.</b></p>

              <button class="rateButton" *ngIf="!total.cart.isLeasing && total.cart.remainingDays <= 0 && !total.cart.returnedFlag" (click)="setProductAsReturned(total.cart, purchase.totalToPayPerAuthor)">Producto devuelto</button>
              <!-- <button class="rateButton" *ngIf="!isBuyer" style="margin-top:1rem;" (click)="createUserRating(total.cart)">Calificar usuario</button>  la condicion tiene q ser que todavia no haya rateado al usuario -->
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div *ngIf="showEmptyMessage" style="margin:1rem;">
      <p class="message">¡Por el momento nadie alquiló ni compró alguno de tus productos!</p>
    </div>
  </div>
</body>
