<div class="container">
    <div *ngIf="editAndPasswordMissing">
        <p class="label">Para poder guardar tus cambios, deberás ingresar tu contraseña actual y repetirla.</p>
    </div>
    <div *ngIf="!editAndPasswordMissing">
        <div *ngIf="!justInvalidFields">
            <p class="label">{{missingFieldsMessage}}</p>
            <div *ngFor="let field of missingFields" class="answerContainer">
                <li class="label" style="margin-left:1rem;">{{field}}</li>
            </div>
        </div>
        <div *ngIf="justInvalidFields">
            <p class="label">{{invalidMessage}}</p>
        </div>
    </div>
    <div class="buttonContainer">
        <button class="okButton" (click)="onOkClick()">OK</button>
    </div>
</div>