<form [formGroup]="updatePasswordForm" style="background-color:#f8f3e7;width:100%;">
  <body>
      <div class="container">
          <p class="registerLabel">Indicá tu contraseña actual</p>
          <input class="registerInput" id="oldPasswordField" type="password" matInput name="userOldPassword" formControlName="userOldPassword" (blur)="wrongPassword()">
          <p class="passwordCheckbox"><input type="checkbox" (click)="changeOldPasswordType()"> Mostrar contraseña</p>
          <mat-error *ngIf="!this.rightPassword">
            Contraseña incorrecta.
          </mat-error>
          <p class="registerLabel">Indicá tu nueva contraseña</p>
          <input class="registerInput" type="password" id="newPasswordField" matInput name="userNewPassword" formControlName="userNewPassword">
          <p class="passwordCheckbox"><input type="checkbox" (click)="changeNewPasswordType()"> Mostrar contraseña</p>
          <mat-error *ngIf="invalidPassword">
            La contraseña no es valida. La misma debe tener una longitud mínima de 8 caracteres y contener simultaneamente al menos un numero y una letra.
          </mat-error>
          <mat-error *ngIf="samePassword">
            Elegí una nueva contraseña.
          </mat-error>
          <p class="registerLabel">Repetí tu nueva contraseña</p>
          <input class="registerInput" type="password" id="repeatNewPasswordField" name="repeatNewPasswordField" formControlName="repeatNewPasswordField">
          <p class="passwordCheckbox"><input type="checkbox" (click)="changeRepeatPasswordType()"> Mostrar contraseña</p>
          <mat-error *ngIf="passwordsDontMatch()">
            Las contraseñas no coinciden
          </mat-error>
          <div>
            <button class="registerButton" (click)="saveChanges()" *ngIf="!disableButton">GUARDAR CAMBIOS</button>
            <button class="disableRegisterButton" *ngIf="disableButton">GUARDAR CAMBIOS</button>
          </div>
        </div>
  </body>
</form>
