

.registerLabel{  
    font-family: 'Roboto', monospace;
    color: #885B34;
    font-size: 1rem;
    font-weight: 900;
  }
  
  .registerInput{
    width: 50%;
    height: 1rem;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #885B34;
    border-bottom-width: 0.2rem;
    margin-bottom: 3rem;
    background-color: #f8f3e7;
  }
  
  .passwordCheckbox{
    font-family: 'Roboto', monospace;
    color: #885B34;
    font-weight: bold;
    font-size: 0.7rem;
    margin-top: -2.5rem;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
  .registerButton{
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #E1AE63;
    border-color: #885B34;
    font-size: medium;
    font-family: 'Roboto', monospace;
    letter-spacing: 0.1rem;
    margin-top:2rem;
    cursor:pointer;
  }
  
  .registerButton:hover{
    background-color: #885B34;
  }  

.disableRegisterButton{
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: lightgrey;
  background-color: grey;
  border-color: lightgrey;
  font-size: medium;
  letter-spacing: 0.05rem;
  font-family: 'Roboto', monospace;
  margin-top:2rem;
}