.title{
    font-size: 4rem;
    font-family: 'Roboto', monospace;
    color: #885B34;
    padding-bottom: 2rem;    
    letter-spacing: 0.1rem;
}

.goBack{
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #885B34;
    padding-bottom: 1rem;    
    cursor: pointer;
}

.productBox{
    background-color:#EBE1BE;
    padding-bottom: 6rem;
    width: 100%;
    border-top: 0.2rem solid #E7BF81;
    border-bottom: 0.2rem solid #E7BF81;
    overflow: auto;
}

.productPicture{
    width: 100%;
    height: 60%;
    border: 0.2rem solid #885B34;
    cursor: pointer;
}

.postButton{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: #E1AE63;
    border-color: #885B34;
    font-size: large;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    margin-bottom:2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.postButton:hover{
    background-color: #885B34;
}

.column-left {
    float: left;
    width: 30%;
}

.productPicAndActionsContainer{
    margin: 4rem;
    padding-left: 6rem;
}
    
.column-right {
    float: left;
    width: 70%;
    margin-top: 1rem;
}

.productInfoContainer{
    border: 1px solid #E1AE63;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 6rem;
    padding-bottom: 3rem;
    border-radius: 0.5rem;
    margin-top: 2.1rem;
    margin: 4rem;
}

.productPrice{
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    color: #885B34;   
    text-align: left; 
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.productInfo{
    font-size: 1.5rem;
    font-family: 'Roboto', monospace;
    color: #885B34;  
    margin-bottom: 2rem;
}

.stockInfo{
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    color: #885B34;  
    margin-bottom: 2rem;
    size: 95%;
    margin-top: 1rem;
}

.opinions{
    font-family: 'Roboto', monospace;
    color: #885B34;  
    margin-bottom: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.starIcon{
    transform: scale(1.5);
    color: #885B34;
    margin-left: 0.5rem;  
    margin-bottom: 2rem;
}

.footer{
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #C2C2C2;
    text-align: center;
    font-size: 0.7rem;
    margin-top: -1.2rem;
}

.locationIcon{
    transform: scale(1.5);
    padding-bottom: 0.9rem;
    color: #E1AE63;
    float: left;
    margin-right: 0.5rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.topContainer{
    padding-top: 3rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.row{
    margin-top: 1rem;
}

.priceNumber{
    font-size: 4rem;
    margin-right: 0.5rem;
}

.locationContainer{
    margin-top: 1rem;
}

.ratingContainer{
    display: flex;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .topContainer{
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 0rem;
    }
    .title{
        font-size: 2rem;
    }
    .goBack{
        font-size: 0.8rem;
        padding-bottom: 1rem; 
    }
    .productBox{
        padding: 0rem;
        margin: 0rem;
    }    
    .row{
        display: flex;
        flex-direction: column;
    }
    .column-left {
        width: 100%;
    }
    .productPicAndActionsContainer{
        margin: 3rem;
        padding-left: 0rem;
    }        
    .column-right {
        width: 100%;
        margin-top: 0rem;
    }    
    .productInfoContainer{
        margin: 2rem;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }   
    .stockInfo{
        font-size: 0.7rem;
    }
    .productInfo{
        font-size: 1rem;
    }
    .postButton{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
        margin-bottom: 0rem;
    }
    .priceNumber{
        font-size: 2rem;
    }
    .productPrice{
        margin-top: 0rem;
    }
    .locationIcon{
        transform: scale(1);
        margin-left: 0rem;
    }
    .locationContainer{
        margin: 0reM;
    }
    .starIcon{
        transform: scale(1);
        margin: 0rem;
    }
    .ratingContainer{
        display: block;
    }
    .opinions{
        margin: 0rem;
        font-size: 0.9rem;
    }
}
