<body style="overflow:auto;background-color:#f8f3e7;width:100%;">
  <nav-bar [navBarWithButtons]=true [showCart]=false *ngIf="!isPurchasedSection"></nav-bar>
  <div class="container">
    <div *ngIf="!isPurchasedSection">
      <div>
        <h1 class="title">Carrito</h1>
      </div>
      <hr class="line">
    </div>
    <div *ngIf="showEmptyMessage" class="emptyCartContainer">
      <p class="message">¡Tu carrito de compras está vacío!</p>
      <button class="searchToolsButton" routerLink="/posts">AGREGAR PRODUCTOS AL CARRITO</button>
    </div>
    <div class="cartBox" *ngIf="!showEmptyMessage">
      <div style="margin:1rem;" *ngFor="let totalToPayPerAuthor of totalsToPayPerAuthor">
        <mat-accordion>
          <mat-expansion-panel hideToggle [expanded]=expanded class="authorPurchase">
            <mat-expansion-panel-header class="panelHeader">
              <div class="rowWeb">
                <div class="column-left">
                  <p class="cartTitle">Compras realizadas a {{totalToPayPerAuthor.author.username}}</p>
                </div>
                <div class="column-right">
                  <div class="priceAndPayContainer">
                    <p class="cartPrice">{{totalToPayPerAuthor.totalToPay | numberFormat }}</p>
                    <button class="payButton" type="button" (click)="pay(totalToPayPerAuthor.id)" *ngIf="showBuyButton">Pagar</button>
                  </div>
                </div>
              </div>
              <div class="rowMobile">
                <div class="column-left">
                  <p class="cartTitle">Compras realizadas a {{totalToPayPerAuthor.author.username}}</p>
                </div>
                <div class="column-right">
                  <p class="cartPrice">{{totalToPayPerAuthor.totalToPay | numberFormat }}</p>
                  <button class="payButton" type="button" (click)="pay(totalToPayPerAuthor.id)" *ngIf="showBuyButton">Pagar</button>
                </div>
              </div>
            </mat-expansion-panel-header>
            <div class="productBox" *ngFor="let totalToPayPerCart of totalsToPayPerCart">
              <mat-accordion>
                <mat-expansion-panel hideToggle class="productPurchase">
                  <mat-expansion-panel-header class="productPanelHeader">
                      <div class="headerContainer">
                        <div class="headerTitleAndPrice">
                          <span><p class="cartDescription">{{totalToPayPerCart.cart.post.title}}</p> <p class="cartPrice">{{totalToPayPerCart.itemCartTotalToPay | numberFormat }}</p></span>
                        </div>
                        <div class="headerButtons">
                          <button class="button" type="button" (click)="viewPost(totalToPayPerCart.cart.post)">Ir a publicacion</button>
                          <button class="button" *ngIf="!isPurchased" type="button" (click)="editCart(totalToPayPerCart.cart)">Editar operación</button>
                          <button class="button" *ngIf="!isPurchased" type="button" (click)="deleteCart(totalToPayPerCart.cart)">Eliminar del carrito</button>
                        </div>
                      </div>
                  </mat-expansion-panel-header>
                  <div style="margin-top:2rem;">
                    <p class="cartInformation"><b>Unidades: </b>{{totalToPayPerCart.cart.amount}}</p>
                    <p class="cartInformation" *ngIf="totalToPayPerCart.cart.isLeasing"><b>Precio de compra por unidad: </b>{{totalToPayPerCart.cart.post.product.salesPrice != undefined ? (totalToPayPerCart.cart.post.product.salesPrice | numberFormat) : totalToPayPerCart.cart.post.product.salesPrice}} </p>
                    <p class="cartInformation" *ngIf="!totalToPayPerCart.cart.isLeasing"><b>Precio de alquiler por día por unidad: </b>{{totalToPayPerCart.cart.post.product.rentalPrice | numberFormat }}</p>
                    <p class="cartInformation" *ngIf="!totalToPayPerCart.cart.isLeasing"><b>Desde: </b>{{totalToPayPerCart.cart.dateFrom}} | <b>Hasta: </b>{{totalToPayPerCart.cart.dateTo}}</p>
                    <p class="cartInformation" *ngIf="!totalToPayPerCart.cart.isLeasing"><b>Depósito: </b>{{totalToPayPerCart.cart.post.product.depositPrice | numberFormat }}</p>
                    <p class="cartInformation" *ngIf="!totalToPayPerCart.cart.isLeasing && totalToPayPerCart.cart.amount > 1"><b><u>Resumen:</u></b> {{totalToPayPerCart.cart.post.product.depositPrice | numberFormat }} + (({{totalToPayPerCart.cart.post.product.rentalPrice | numberFormat }} x {{totalToPayPerCart.cart.rentalDays}} días) x {{totalToPayPerCart.cart.amount}} unidades) = {{totalToPayPerCart.itemCartTotalToPay | numberFormat }}</p>
                    <p class="cartInformation" *ngIf="!totalToPayPerCart.cart.isLeasing && totalToPayPerCart.cart.amount == 1"><b><u>Resumen:</u></b> {{totalToPayPerCart.cart.post.product.depositPrice | numberFormat }} + (({{totalToPayPerCart.cart.post.product.rentalPrice | numberFormat }} x {{totalToPayPerCart.cart.rentalDays}} días) x {{totalToPayPerCart.cart.amount}} unidad) = {{totalToPayPerCart.itemCartTotalToPay | numberFormat }}</p>
                    <p class="cartInformation" *ngIf="totalToPayPerCart.cart.isLeasing && totalToPayPerCart.cart.amount > 1"><b><u>Resumen:</u></b> {{totalToPayPerCart.cart.post.product.salesPrice != undefined ? (totalToPayPerCart.cart.post.product.salesPrice | numberFormat) : totalToPayPerCart.cart.post.product.salesPrice}} x {{totalToPayPerCart.cart.amount}} unidades = {{totalToPayPerCart.itemCartTotalToPay | numberFormat }}</p>
                    <p class="cartInformation" *ngIf="totalToPayPerCart.cart.isLeasing && totalToPayPerCart.cart.amount == 1"><b><u>Resumen:</u></b> {{totalToPayPerCart.cart.post.product.salesPrice != undefined ? (totalToPayPerCart.cart.post.product.salesPrice | numberFormat) : totalToPayPerCart.cart.post.product.salesPrice}} x {{totalToPayPerCart.cart.amount}} unidad = {{totalToPayPerCart.itemCartTotalToPay | numberFormat }}</p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
              <br>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div style="padding-top:40vh;padding-bottom:1rem;background-color:#f8f3e7;" *ngIf="!isPurchasedSection">
    <p class="footer">© 2023 Handy Argentina</p>
    <p class="footer">Contacto: handy2023.information@gmail.com</p>
  </div>
</body>
