<body class="container">
    <div class="mobileView">
        <model-viewer src="https://handy-utn-backend-815e66e9002b.herokuapp.com/api/augmented_reality/modelByName/axe"
            alt="Description of the 3D model" auto-rotate camera-controls ar ar-modes="scene-viewer quick-look"
            ar-scale="auto" activation="click">
        </model-viewer>
        <button class="button" (click)="closeModal()">LISTO</button>
    </div>
    <div class="webView">
        <p class="webMessage">Para poder utilizar esta funcionalidad, deberás abrir la publicación desde tu teléfono
            celular.</p>
        <button class="button" (click)="closeModal()">OK</button>
    </div>
</body>