<body>
  <div class="commentsContainer">
    <div *ngFor="let comment of comments" style="margin:1rem;">
      <mat-expansion-panel class="commentBox" hideToggle [expanded]="true">
        <mat-expansion-panel-header class="header">
          <div class="commentContainer">
            <div class="row">
              <div class="column-left">
                <div *ngIf="comment.author.photo.length != 0"><img src={{comment.author.photo[0].url}} class="picture"></div>
                <div *ngIf="comment.author.photo.length == 0"><img src="../../../../assets/icons/UserWithoutPicture.jpg" class="picture"></div>
              </div>
              <div class="column-right">
                <p><b>{{comment.author.username}}</b> | {{comment.creationDate | dateFormat}}</p>
                <p>{{comment.content}}</p>
              </div>
            </div>
            <button class="answerButton" type="button" *ngIf="this.post.author.id === this.user.id && comment.answers.length == 0" (click)="answer(comment)">Responder</button>
          </div>
        </mat-expansion-panel-header>
        <div *ngFor="let answerComment of comment.answers" class="answerContainer">
          <hr class="line">
          <div class="commentContainer">
            <div class="row">
              <div class="column-left">
                <div *ngIf="answerComment.author.photo.length != 0"><img src={{answerComment.author.photo[0].url}} class="picture"></div>
                <div *ngIf="answerComment.author.photo.length == 0"><img src="../../../../assets/icons/UserWithoutPicture.jpg" class="picture"></div>
              </div>
              <div class="column-right">
                <p><b>{{answerComment.author.username}}</b> | {{answerComment.creationDate | dateFormat}}</p>
                <p>{{answerComment.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</body>
