.registerLabel{  
  font-family: 'Roboto', monospace;
  color: #885B34;
  font-size: 1.5rem;
  font-weight: 900;
}

.registerInput{
  width: 80%;
  height: 2rem;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #885B34;
  border-bottom-width: 0.2rem;
  margin-bottom: 3rem;
  background-color: #f8f3e7;
}

.addressCheckbox{
  font-family: 'Roboto', monospace;
  color: #885B34;
  font-weight: bold;
  font-size: 1.5rem;
} 

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.column-left {
  float: left;
  width: 50%;
}

.column-right {
  float: left;
  width: 50%;
}

.addressInput{
  width: 80%;
  height: 70px;
}
  

  

  

  