<div class="resetBox">
  <h2 class="title">¿Olvidaste tu contraseña? No te preocupes. Indicá a continuación tu nombre de usuario y te enviaremos un mail con tu nueva contraseña.</h2>
  <div class="inputContainer">
    <input [formControl]="userName" type="text" class="userInput"/>
  </div>
  <!-- <mat-spinner></mat-spinner> -->
  <div class="buttonContainer">
    <button class="button" (click)="onCancelClick()">Cancelar</button>
    <button class="buttonDisabled" *ngIf="this.userName.value == ''" (click)="onSaveClick()">Confirmar</button>
    <button class="button" *ngIf="this.userName.value != ''" (click)="onSaveClick()">Confirmar</button>
    <p class="message" *ngIf="showSendingEmail">Estamos enviando el mail con tu nueva contraseña.</p> <!-- momentaneamente dejo esto hasta que me ande el spinner -->
  </div>
</div>
