.purchasedTitle {
    font-size: 2.5rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #885B34;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

.purchasedSubtitle {
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #c08a5a;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.title {
    font-size: 3rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #E1AE63;
    letter-spacing: 0.1rem;
    margin-top: 1rem;
}

.houseDelivery {
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    color: #885B34;
    letter-spacing: 0.1rem;
}

.summary {
    font-size: 1.5rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #E1AE63;
    letter-spacing: 0.1rem;
}

.totalToPay {
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #885B34;
    letter-spacing: 0.1rem;
}

.box {
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 3rem;
}

.toggleUnclickedDisabled {
    width: 50%;
    background-color: #E1AE63;
    color: white;
    border: 0.1rem solid #885B34;
    cursor: pointer;
}

.toggleUnclicked {
    width: 50%;
    background-color: #E1AE63;
    color: white;
    border: 0.1rem solid #885B34;
    cursor: pointer;
}

.toggleClicked {
    width: 50%;
    background-color: #885B34;
    color: white;
    border: 0.1rem solid #885B34;
    cursor: pointer;
}

.toggleUnclicked:hover {
    background-color: #885B34;
}

.line {
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-top: 0.2rem solid #885B34;
    width: 100%;
}

.deliveryMessage {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #885B34;
    letter-spacing: 0.1rem;
}

.payButtonDisable {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightgrey;
    background-color: grey;
    border-color: lightgrey;
    font-size: large;
    font-family: 'Roboto', monospace;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 10px;
}

.payButton {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: #E1AE63;
    border-color: #885B34;
    font-size: large;
    font-family: 'Roboto', monospace;
    letter-spacing: 0.1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.payButton:hover {
    background-color: #885B34;
}

.footer {
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #C2C2C2;
    text-align: center;
    font-size: 0.7rem;
    margin-top: -1.2rem;
}

.transparent .mat-dialog-container {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.0);
}

.container {
    padding-top: 7rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.deliveryButtons {
    width: 50%;
}

.deliveryContainer {
    width: 100%;
}

.paymentButtons {
    width: 50%;
}

.paymentContainer {
    width: 100%;
}

.addressContainer {
    margin-bottom: 3rem;
}

.bottomContainer {
    margin-bottom: 3rem;
    text-align: right;
}

.summaryContainer {
    margin-top: -9rem;
    margin-bottom: -7rem;
    width: 100%;
}

.purchasedDeliveryContainer {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        padding-top: 3rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .title {
        font-size: 2rem;
        margin-left: 2rem;
    }

    .line {
        width: 90%;
    }

    .deliveryButtons {
        width: 80%;
    }

    .paymentContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .paymentButtons {
        width: 80%;
    }

    .deliveryContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deliveryMessage {
        text-align: center;
    }

    .addressContainer {
        margin: 1rem;
    }

    .bottomContainer {
        margin: 3rem;
    }


    .payButtonDisable {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
        font-weight: normal;
    }

    .payButton {
        width: 80%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
        font-weight: normal;
    }

    .summaryContainer {
        margin-top: -5rem;
    }

    .summary {
        font-size: 1.2rem;
        margin-left: 2rem;
    }

    .purchasedTitle {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 2rem;
        margin-bottom: 1rem !important;
    }

    .purchasedSubtitle {
        font-size: 0.8rem;
        margin: 2rem;
        margin-top: 0rem !important;
        font-weight: normal;
    }

    .purchasedDeliveryContainer {
        margin-left: 2rem;
    }
}