<form [formGroup]="loginForm" style="background-color:#f8f3e7;">
    <body style="min-height:100vh;background-color:#f8f3e7;margin-bottom:10rem;">
        <nav-bar [navBarWithButtons]=false></nav-bar>
        <div class="row" *ngIf="!isGoogleAuth; else googleLoginComponent">
            <div class="column-left">
                <div class="container">
                    <p class="title">Accedé a tu cuenta</p>
                    <div class="box">
                        <p class="loginLabel">USUARIO</p>
                        <input class="loginInput" type="text" matInput name="username" formControlName="username" #usernameInput>
                        <p class="loginLabel">CONTRASEÑA</p>
                        <input class="loginInput" type="password" id="passwordField" matInput name="password" formControlName="password" #passwordInput>
                        <p class="passwordCheckbox"><input type="checkbox" (click)="changePasswordType()"> Mostrar contraseña</p>
                        <div style="text-align:right;">
                        <p class="forgotPassword" (click)="changePassword()"><u>Olvidé mi contraseña</u></p>
                        </div>
                        <div style="text-align:center;">
                            <button class="loginButton" (click)="loginauth()">INICIAR SESIÓN</button>
                        </div>
                        <div style="padding-top:2rem;">
                            <p class="loginLabel">También podes iniciar sesión con google:</p>
                            <a class="googleLogin" (click)="googleLogin()"><img src="../../../../assets/icons/GoogleLogo.png" class="googleButton"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-right">
                <div class="container">
                    <p class="title">¿Necesitás una cuenta?</p>
                    <div class="box">
                        <div class="registerButtonContainer">
                            <button class="registerButton" routerLink="/register">REGISTRATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #googleLoginComponent><app-google-login/></ng-template>
    </body>
    <div style="background-color:#f8f3e7;overflow:auto;padding-bottom:1rem;"> <!--feo-->
        <p class="footer">© 2023 Handy Argentina</p>
        <p class="footer" style="margin-top:-1.2rem;">Contacto: handy2023.information@gmail.com</p>
    </div>
</form>
