.title{
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    font-weight: bold;
    color: #E1AE63;
    padding-bottom: 1rem;    
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.confirmationBox{
    background-color:#f8f3e7;
    border: 4px solid #E1AE63;
    padding: 1rem;
}

.codeInput{
    border: 0.2rem solid #885B34;
    background-color: #f8f3e7;
    padding: 0.5rem;
}

.button{
    width: 30%;
    margin-left: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background-color: #E1AE63;
    border-color: #885B34;
    font-size: small;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', monospace;
    cursor: pointer;
}

.button:hover{
    background-color: #885B34;
}

.buttonDisabled{
    width: 30%;
    margin-left: 2rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: lightgrey;
    background-color: grey;
    border-color: lightgrey;
    font-size: small;
    letter-spacing: 0.05rem;
    font-family: 'Roboto', monospace;
}

.inputContainer{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .title{
        margin: 1rem;
        text-align: justify;
    }

    .inputContainer{
        display: flex;
        flex-direction: column-reverse;
        margin-top: -2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .button{
        width: 40%;
        margin: 0.5rem;
    }
    
    .buttonDisabled{
        width: 40%;
        margin: 0.5rem;
    }
}
