<body style="min-height:100vh;overflow:auto;background-color:#f8f3e7;">
  <nav-bar [navBarWithButtons]=true style="margin-right:1rem;"></nav-bar>
  <div>
    <div class="row">
      <div class="column-left">
        <div>
          <p class="title">Alquilá tus herramientas</p><p class="title"> con Handy</p>
          <p *ngIf="userName" class="label">¡Te damos la bienvenida, {{ userName }}!</p>
        </div>
      </div>
      <div class="column-right">
        <div class="photoContainer">
          <img src="../../../../assets/icons/HomePicture.jpg" class="photo">
        </div>
      </div>
    </div>
    <div class="buttonsContainer">
      <button class="home-button" type="button" routerLink="/posts">BUSCAR HERRAMIENTAS</button>
      <button class="home-button" type="button" routerLink="/posts/details">CREAR PUBLICACIÓN</button>
      <button class="home-button showButtons" type="button" routerLink="/profile">MI PERFIL</button>
    </div>
    <div style="padding-top:10rem;padding-bottom:1rem;">
      <p class="footer">© 2023 Handy Argentina</p>
      <p class="footer">Contacto: atencionalcliente@handy.com</p>
    </div>
  </div> 
</body> 