.title{
  font-size: 3rem;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  color: #E1AE63;
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

.info{
  font-family: 'Roboto', monospace;
  color: #E1AE63;
  font-size: 1.2rem;
}

.label{  
  font-family: 'Roboto', monospace;
  color: #885B34;
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 2.5rem;
}
  
.column-left {
  float: left;
  width: 50%;
  text-align: right;
}
  
.column-right {
  float: left;
  width: 50%;
  text-align: left;
}

.row{
  padding-top: 7rem;
  padding-bottom: 7rem;
}  
  
.home-button{
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  background-color: #885B34;
  border-color: #E1AE63;
  font-size: large;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.home-button:hover{
  background-color:#E1AE63;
}

.footer{
  font-family: 'Roboto', monospace;
  font-weight: bold;
  color: #C2C2C2;
  text-align: center;
  font-size: 0.7rem;
  margin-top: -1.2rem;
}

.subtitle{
  text-align: left;
  margin-left: 30px;
  padding-top: 50px;
  font-size: 2rem;
  font-family: 'Roboto', monospace;
  font-weight: bold;
  color: #E1AE63;
  letter-spacing: -0.5px;
}

.line{
  border: 2px solid #885B34;
}

.productLine{
  border: 2px solid #E1AE63;
  margin-top:-0.4rem;
}

.productBox{
  border-radius: 20px;
  background-color: #FAFAF5;
  width: 16rem;
  height: 20rem;
  border: 4px solid #E7BF81;
}

.productPicture{
  width:100%;
  border-top-left-radius:18px;
  border-top-right-radius:18px;
  height: 60%;
}

.productTitle{
  font-family: 'Roboto', monospace;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: -1px;
  text-align: left;
}

.productPrice{
  font-family: 'Roboto', monospace;
  color: #885B34;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: -1px;
  text-align: left;
}

.productLocation{
  font-family: 'Roboto', monospace;
  color: gray;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: -1px;
  text-align: left;
}
  


/* 
  
  
  .sub-title{
    text-align: right;
    font-family: 'Roboto', monospace;
    color: #885B34;
    font-weight: bold;
    font-size: 15px;
  }
  
  .info{
    text-align: justify;
    padding-right: 30%;
    padding-left: 10%;
    padding-bottom: 20px;
    font-family: 'Roboto', monospace;
    color: #E1AE63;
    font-weight: bold;
    font-size: 15px;
  } */