<body style="min-height:100vh;overflow:auto;background-color:#f8f3e7;">
  <nav-bar [navBarWithButtons]=false></nav-bar>
  <div>
    <div class="row">
      <div class="column-left">
        <div>
          <p class="title">Alquilá tus herramientas</p><p class="title"> con Handy</p>
        </div>
        <div class="infoContainer">
          <p class="info">Handy es una página web orientada al leasing de herramientas en la cual los usuarios pueden tanto subir publicaciones de herramientas para poner el alquiler, como buscar herramientas para alquilar y hacer uso de ellas. Todos estos alquileres pueden ser con posibilidad de compra, siempre y cuando quien alquila lo decida.</p>
        </div>
      </div>
      <div class="column-right">
        <div class="photoContainer">
          <img src="../../../../assets/icons/HomePicture.jpg" class="photo">
        </div>
      </div>
    </div>
    <div class="buttonsContainer">
      <button class="home-button" type="button" routerLink="/login">INICIÁ SESIÓN</button>
      <button class="home-button" type="button" routerLink="/register">REGISTRATE</button>
    </div>
    <div style="padding-top:10rem;padding-bottom:1rem;">
      <p class="footer">© 2023 Handy Argentina</p>
      <p class="footer">Contacto: handy2023.information@gmail.com</p>
    </div>
  </div> 
</body> 