<body style="min-height:100vh;overflow:auto;background-color:#f8f3e7;">
    <nav-bar [navBarWithButtons]=true style="margin-right:1rem;"></nav-bar>
    <div class="container">
        <div>
            <div class="photoWebContainer">
              <img src="../../../../assets/icons/Tooly.png" class="photo">
              <div style="display: block;">
                <p class="title">¡Hola! Soy Tooly.</p>             
                <p class="subTitle">¿Tenés que llevar a cabo una tarea pero no sabés que herramientas necesitás para
                    realizarla? ¡No te preocupes! Comentame lo que necesitás hacer y te voy a recomendar las mejores
                    herramientas que tenemos en Handy para que puedas alquilar/comprar y llevar a cabo la tarea por tu
                    propia cuenta.</p>
              </div>
            </div>
            <div class="photoMobileContainer">
                <div style="display: flex;flex-direction: row-reverse;margin-bottom:1rem;justify-content: flex-end;">
                    <div style="display: block;">
                        <p class="title">¡Hola!</p>     
                        <p class="title">Soy</p>     
                        <p class="title">Tooly.</p>     
                    </div>                          
                    <img src="../../../../assets/icons/Tooly.png" class="photo">
                </div>
                <p class="subTitle">¿Tenés que llevar a cabo una tarea pero no sabés que herramientas necesitás para
                    realizarla? ¡No te preocupes! Comentame lo que necesitás hacer y te voy a recomendar las mejores
                    herramientas que tenemos en Handy para que puedas alquilar/comprar y llevar a cabo la tarea por tu
                    propia cuenta.</p>
            </div>
            <div style="text-align: center;">
                <p class="label">¿Qué tarea necesitás llevar a cabo?</p>
                <input class="input" placeholder="Por ejemplo: Armar una mesa" [formControl]="prompt"><br>
                <button *ngIf="!this.loading" class="button" (click)="getPostsByPrompt()">Consultar a Tooly</button>
                <p class="emptyTask" *ngIf="this.emptyTask">Debes escribir la tarea a llevar a cabo</p>
                <div *ngIf="this.loading" style="display: flex; flex-direction: column;">
                    <div style="display: flex; justify-content: center;">
                        <mat-spinner color="accent"></mat-spinner>
                    </div>
                    <p class="subTitle" style="margin-top: 1rem;">Buscando las mejores herramientas...</p>
                </div>
            </div>
        </div>
        <div class="postsSectionContainer">
            <div *ngIf="this.recommendations.length > 0" class="postsSection">
                <div *ngFor="let recommendation of recommendations">
                    <p class="recommendationLabel">{{recommendation.tool}}</p>
                    <div style="display: inline-flex;" *ngFor="let post of recommendation.posts" (click)="sendTo(post)">
                        <div class="productBox">
                            <img src={{post.photos[0].url}} class="postPicture">
                            <hr class="productBoxLine">
                            <div class="postInformation">
                                <a><b>{{post.title}}</b></a>
                                <p style="margin-top:1rem;">${{post.product.rentalPrice}} por día</p>
                                <div style="display:inline-flex;font-size:0.8rem;">
                                    <mat-icon style="margin-top:-0.2rem;transform:scale(0.8);margin-left:-0.3rem;">location_on</mat-icon>
                                    <p>{{post.address.location.name}}</p>
                                </div>
                                <p *ngIf="this.post.author.id == this.user.id" style="color:rgb(211, 78, 78);font-weight:bold;">Tu publicación</p>
                            </div>  
                        </div>
                    </div>
                    <hr class="line">
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:#f8f3e7;padding-bottom:1rem;padding-top:20vh;">
      <p class="footer">© 2023 Handy Argentina</p>
      <p class="footer">Contacto: handy2023.information@gmail.com</p>
    </div>
</body>