<body style="min-height:100vh;overflow:auto;background-color:#f8f3e7;">
    <nav-bar [navBarWithButtons]=true style="margin-right:1rem;"></nav-bar>
    <div class="container">
        <div>
            <div class="photoWebContainer">
              <img src="../../../../assets/icons/Tooly.png" class="photo">
              <div style="display: block;">
                <p class="title">¡Hola! Soy Tooly.</p>             
                <p class="subTitle">¿Tenés que llevar a cabo una tarea pero no sabés que herramientas necesitás para
                    realizarla? ¡No te preocupes! Comentame lo que necesitás hacer y te voy a recomendar las mejores
                    herramientas que tenemos en Handy para que puedas alquilar/comprar y llevar a cabo la tarea por tu
                    propia cuenta.</p>
              </div>
            </div>
            <div class="photoMobileContainer">
                <div style="display: flex;flex-direction: row-reverse;margin-bottom:1rem;justify-content: flex-end;">
                    <div style="display: block;">
                        <p class="title">¡Hola!</p>     
                        <p class="title">Soy</p>     
                        <p class="title">Tooly.</p>     
                    </div>                          
                    <img src="../../../../assets/icons/Tooly.png" class="photo">
                </div>
                <p class="subTitle">¿Tenés que llevar a cabo una tarea pero no sabés que herramientas necesitás para
                    realizarla? ¡No te preocupes! Comentame lo que necesitás hacer y te voy a recomendar las mejores
                    herramientas que tenemos en Handy para que puedas alquilar/comprar y llevar a cabo la tarea por tu
                    propia cuenta.</p>
            </div>
            <div style="text-align: center;">
                <p class="label">¿Que tarea necesitás llevar a cabo?</p>
                <input class="input"><br>
                <button class="button">Consultar a Tooly</button>
            </div>
        </div>
    </div>
    <div style="background-color:#f8f3e7;padding-bottom:1rem;padding-top:20vh;">
      <p class="footer">© 2023 Handy Argentina</p>
      <p class="footer">Contacto: handy2023.information@gmail.com</p>
    </div>
</body>