<form [formGroup]="postForm">

  <body style="min-height:100vh;background-color:#f8f3e7;">
    <nav-bar [navBarWithButtons]=true style="margin-right:1rem;"></nav-bar>
    <div class="container">
      <div>
        <p class="title">{{this.createOrUpdateTitle}}</p>
      </div>
      <div class="mobileMessage">
        <p>Todos los campos son requeridos. Para llenar toda la información de la publicación, deberás deslizar hacia la
          derecha y hacer click en cada una de las secciones a completar.</p>
      </div>
      <mat-tab-group class="postCreationBox">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabLabel">Información de la publicación</span>
          </ng-template>
          <div class="row">
            <div class="column-left">
              <p class="postCreationLabel">Titulo de la publicacion</p>
              <input class="postCreationInput" type="text" matInput name="title" formControlName="title">
              <mat-error *ngIf="postForm.get('title')?.hasError('maxlength')" style="width:80%;margin-bottom:1rem;margin-top:-1rem;">El titulo no puede
                tener mas de 100 caracteres</mat-error>
              <p class="postCreationLabel">Nombre del Producto</p>
              <input class="postCreationInput" type="text" matInput name="productName" formControlName="productName">
              <mat-error *ngIf="postForm.get('productName')?.hasError('maxlength')" style="width:80%;margin-bottom:1rem;margin-top:-1rem;">El nombre del
                producto no puede tener mas de 100 caracteres</mat-error>
              <p class="postCreationLabel">Stock</p>
              <input class="postCreationInput" type="number" matInput name="stock" formControlName="stock">
              <p class="postCreationLabel">Precio de alquiler por día</p>
              <input class="postCreationInput" type="number" matInput name="rentalPrice" formControlName="rentalPrice">
            </div>
            <div class="column-right">
              <p class="postCreationLabel">Categoría</p>
              <mat-form-field class="selectorInput">
                <mat-select formControlName="productCategory" name="productCategory"
                  (selectionChange)="getSubCategories($event.value)" (selectionChange)="getBrands($event.value)">
                  <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p class="postCreationLabel">Sub-categoría</p>
              <mat-form-field class="selectorInput">
                <mat-select formControlName="productSubCategory" name="productSubCategory">
                  <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">
                    {{subcategory.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p class="postCreationLabel">Marca</p>
              <mat-form-field class="selectorInput">
                <mat-select formControlName="productBrand" name="productBrand">
                  <mat-option *ngFor="let brand of brands" [value]="brand.id">
                    {{brand.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p class="postCreationLabel">Deposito</p>
              <input class="postCreationInput" type="number" matInput name="depositPrice"
                formControlName="depositPrice">
              <div class="informationContainer">
                <mat-icon class="informationIcon" (click)="handleInformationClick()">info</mat-icon>
                <p *ngIf="openInformationModal" class="depositInformation">El depósito es un monto que el usuario que
                  alquila deberá pagar a modo de garantía al realizar el alquiler. Una vez finalizado el mismo, el
                  depósito será devuelto, siempre y cuando la herramienta haya sido devuelta en las mismas condiciones.
                </p>
              </div>
            </div>
            <div>
              <p class="postCreationLabel">Descripcion del Producto</p>
              <textarea class="descriptionInput" type="text" matInput name="productDescription"
                formControlName="productDescription" spellcheck></textarea>
              <mat-error *ngIf="postForm.get('productDescription')?.hasError('maxlength')" style="width:80%;margin-top:-3rem;margin-bottom:1rem;">La descripción puede tener hasta 500 caracteres</mat-error>
              <p class="checkboxInput"><input type="checkbox" formControlName="isLeasing"> Quiero que los usuarios
                puedan comprar mi producto.</p>
              <br>
              <p *ngIf="this.postForm.get('isLeasing')?.value" class="postCreationLabel">Precio de venta</p>
              <input *ngIf="this.postForm.get('isLeasing')?.value" class="postTitleInput" type="number" matInput
                name="salesPrice" formControlName="salesPrice">
              <br>
              <p class="checkboxInput"><input type="checkbox" formControlName="isActive"> {{this.activeCheckboxLabel}}
              </p>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabLabel">Imágenes</span>
          </ng-template>
          <div style="margin-top:50px;margin-left:30px;margin-right:30px;margin-bottom:10rem;">
            <p class="postCreationLabel">Agregá hasta 10 fotos para su publicación</p>
            <div style="margin-top:10rem;">
              <div style="margin:auto;">
                <app-photo (photosToTransfer)="setPhotoToPost($event)"
                  (photosINFOToTransfer)="setPhotoInfoToPost($event)" [maxPhotos]=10
                  [displayMessage]="getPhotoDisplayMessage()" [limitMessage]="getPhotoLimitMessage()"></app-photo>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabLabel">Ubicación</span>
          </ng-template>
          <div>
            <app-address [parentForm]="postForm" (transferAddressForm)="setFormInfoToAddressForm($event)"
              (transferAddressFormValidatorCheck)="setAddressFormValidator($event)"></app-address>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div style="text-align:center;margin-top:20px;">
        <button class="createButton" (click)="saveOrUpdate()">{{this.createOrUpdateLabel}}</button>
      </div>
    </div>
  </body>
  <div style="background-color:#f8f3e7;padding-bottom:1rem;padding-top:10vh;">
    <p class="footer">© 2023 Handy Argentina</p>
    <p class="footer">Contacto: handy2023.information@gmail.com</p>
  </div>
</form>