<div class="resetBox">
  <h2 class="title">Ingresá la contraseña enviada por mail:</h2>
  <div style="margin-left: 2rem;margin-bottom: 2rem;">
    <input [formControl]="newPassword" type="text" class="userInput"/>
  </div>
  <div style="text-align:center;margin-bottom:1rem;">
    <button class="button" (click)="onCancelClick()">Cancelar</button>
    <button class="buttonDisabled" *ngIf="this.newPassword.value != this.user.password" (click)="onSaveClick()">Confirmar</button>
    <button class="button" *ngIf="this.newPassword.value === this.user.password" (click)="onSaveClick()">Confirmar</button>
  </div>
</div>
