<div class="resetBox">
  <h2 class="title">Ingresá la contraseña enviada por mail:</h2>
  <div class="inputContainer">
    <input [formControl]="newPassword" type="text" class="userInput"/>
  </div>
  <div class="buttonContainer">
    <button class="button" (click)="onCancelClick()">Cancelar</button>
    <button class="buttonDisabled" *ngIf="this.newPassword.value != this.user.password" (click)="onSaveClick()">Confirmar</button>
    <button class="button" *ngIf="this.newPassword.value === this.user.password" (click)="onSaveClick()">Confirmar</button>
  </div>
</div>
